# Useful Python Operators

Range function can be used to print out a range of numbers

In [5]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

Its a generator so can't just be called, can be cast into a list or variable

In [6]:
range(0,11,2)

range(0, 11, 2)

In [7]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

Enumerate operator is often used to setup counters for for loops, first example below is what it can replace <br/> takes in any iterable object and then returns an index counter and the element at the iteration

In [2]:
index_count = 0

for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count+= 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [4]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

Zip function: Zips together two lists, returns a list of tuples <br/> Zip only zips together as far as the shortest list <br/> Can be iterated through or can be casted

In [12]:
mylist1= [1,2,3,4,5]
mylist2= ['a','b','c',1,2,3]
mylist3= [100,200,300]

In [14]:
for item in zip(mylist1, mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [15]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 1), (5, 2)]

In operator: is used to quickly check if an object in a list

In [16]:
'x' in mylist1

False

In [18]:
3 in mylist1

True

In [1]:
'a' in 'Jamie'

True

In [2]:
'mykey' in {'mykey':345}

True

In [1]:
d = {'mykey':345}

345 in d.values()

True

Min Max and random library

In [2]:
mylist = [10,20,30,40,100]

In [3]:
min(mylist)

10

In [4]:
max(mylist)

100

In [6]:
from random import shuffle

In [7]:
list2 = [1,2,3,4,5,6,7,8,9,10]

In [8]:
shuffle(list2)

In [14]:
list2

[6, 5, 8, 7, 3, 9, 1, 4, 10, 2]

shuffle doesnt return anything

In [15]:
random_list = shuffle(list2)

In [17]:
type(random_list)

NoneType

Random below

In [19]:
from random import randint

In [20]:
randint(0,1241241)

835213

In [21]:
mynum = randint(0,2341234)

In [22]:
mynum

565544

#### Accepting user input, everything is accepted as a string

In [25]:
result = input('Enter something yada yada yada ')

Enter something yada yada yada 5

In [26]:
result

'5'

In [27]:
type(result)

str

In [28]:
result = int(input('Enter something yada yada yada '))

Enter something yada yada yada 5

In [29]:
type(result)

int