A unique way of quickly making a list with python instead of for loop with append

In [1]:
mystring = "Hello"

In [4]:
list1 = []

for letter in mystring:
    list1.append(letter)

In [5]:
list1

['H', 'e', 'l', 'l', 'o']

 a

In [7]:
list1 = [letter for letter in mystring]

In [10]:
list2 = [x for x in 'word']

In [11]:
list2

['w', 'o', 'r', 'd']

Automatically filling list with numbers in one line

In [12]:
list3 = [x for x in range(0,8)]

In [13]:
list3

[0, 1, 2, 3, 4, 5, 6, 7]

example of finding the square of every num in loop

In [14]:
list3 = [x**2 for x in range(0,8)]

In [15]:
list3

[0, 1, 4, 9, 16, 25, 36, 49]

Using if statements can be done too for finding even numbers as example

In [16]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [17]:
mylist

[0, 2, 4, 6, 8, 10]

More complicated arithemtic can be done also, see temperature conversion

In [19]:
celsius = [0, 10, 20, 30, 40,]

fahrenheit = [((9/5)*temp + 32) for temp in celsius]

In [20]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 104.0]

above is the same as

In [25]:
fahrenheit = []

for temp in celsius:
    fahrenheit.append((9/5)*temp + 32)

### if elses can be used too, can be hard to read

In [27]:
results = [x if x%2 == 0 else 'Odd' for x in range (0,11)]

### nested loops can be done too in a list comprehension

In [29]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [30]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [31]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [32]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]